*{
    padding: 0;
    margin: 0;
}

.Blog{
    padding: 47px;
    background-color: rgb(60,169,241);
    /* border: 2px solid purple; */ 
}

.Blog>h1{
    width: 69%;
    margin: auto;
    padding: 1%;
    font-size: 50px;
    color: white;
    /* border: 2px solid white; */
}

.searchbox{
    width: 69%;
    margin: auto;
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    /* border: 2px solid blueviolet; */
}

.searchbox>:nth-child(1){
    display: flex;
    width: 35%;
    border-radius: 20px;
    /* border: 1px solid black; */
}

.searchbox>:nth-child(1)>input{
    height: 60px;
    width: 100%;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgb(238,242,244);
    /* border: 2px solid red; */
}

.search-icon {
    position: absolute;
    top: 37%;
    left:36%;
    transform: translateY(-50%);
}

.search-input {
padding-left: 30px; 
} 

select{
    width: 30%;
    background-color: rgb(238,242,244);
    padding:12px;
    border:2px solid  rgb(103, 189, 242);
    font-size: 22px;
    border-radius:20px;
}

.manybox{
    margin: auto;
    margin-top: 3%;
    width: 69%;
    /* border: 2px solid red; */
}


/* <-------------------1st_Blue_Box---------------> */

.manybox>:nth-child(1){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    /* border: 2px solid blue; */
}

.manybox>:nth-child(1)>div{
    cursor: pointer;
    border-radius: 10px;
    background-color:rgb(248,248,248);
    /* border: 2px solid green; */
}

.sixbox>img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* border: 2px solid rebeccapurple; */
}

.sixbox>div{
    padding: 2% 3% 9% 3% ;
    /* border: 2px solid pink; */
}

.sixbox>div>h2,
.manybox>:nth-child(2)>:nth-child(1)>div>h1{
    margin: 2% 0% 4% 0%;
    font-size: 28px; 

}

.sixbox>div>p{
    font-size: 18px;
    line-height:28px;
    color: rgb(97,97,97);
}

.sixbox>div>div{
    display: flex;
    margin-top: 10%;
    font-size: 20px;
    color: rgb(97,97,97) ;
    /* border:2px solid darkgoldenrod; */
}

.sixbox>div>div>img{
    padding-right:3%;
}

.manybox>:nth-child(1)>:nth-child(3)>div>div{
    margin-top: 15%;
    /* border: 2px solid orange; */
}

.manybox>:nth-child(1)>:nth-child(4)>div>div{
    margin-top: 11%;
    /* border: 2px solid orange; */
}

.manybox>:nth-child(1)>:nth-child(5)>div>div{
    margin-top: 25%;
    /* border: 2px solid orange; */
}

.manybox>:nth-child(1)>:nth-child(6)>div>div{
    margin-top: 39%;
    /* border: 2px solid orange; */
}



/* <-------------------2nd_Blue_Box---------------> */
.manybox>:nth-child(2){
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.manybox>:nth-child(2)>:nth-child(1){
    width: 35%;
    padding: 2% 0% 0% 1%;
    border-radius: 20px;
    background-color:  rgb(238,242,244);
    /* border: 2px solid black; */
}


.manybox>:nth-child(2)>:nth-child(1)>div{
    display: flex;
    margin-top: 10%;
    font-size: 18px;
    margin-bottom: 9%;
    color: rgb(97,97,97) ;
    /* border:2px solid darkgoldenrod; */
}

.manybox>:nth-child(2)>:nth-child(1)>div>img{
    margin-right: 3%;
}

.manybox>:nth-child(2)>:nth-child(2){
    width: 63%;
    cursor: pointer;
    /* border: 2px solid brown; */
}

.manybox>:nth-child(2)>:nth-child(2)>img{
    height: 400px;
    border-radius: 10px;
}

.manybox>:nth-child(2)>:nth-child(1)>p{
    font-size: 20px;
    line-height:28px;
    margin-top: 6%;
    color: rgb(97,97,97);
}


/* <-------------------3rd_Blue_Box---------------> */

.manybox>:nth-child(3){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    /* border: 2px solid blue; */
}

.manybox>:nth-child(3)>div{
    cursor: pointer;
    border-radius: 10px;
    background-color:rgb(248,248,248);
    /* border: 2px solid green; */
}

.manybox>:nth-child(3)>div>div>div{  
    display: flex;
    margin-top: 10%;
    font-size: 20px;
    color: rgb(97,97,97) ;
    /* border:2px solid red; */
}

.manybox>:nth-child(3)>:nth-child(1)>div>div{ 
    margin-top: 24%;
}

.manybox>:nth-child(3)>:nth-child(3)>div>div{ 
    margin-top: 33%;
}

/* <-------------------4th_Blue_Box---------------> */

.manybox>:nth-child(4){
    margin-top: 5%;
    /* border: 2px solid blue; */
}

.manybox>:nth-child(4)>:nth-child(1){
    font-size: 40px;
    text-align: center;
    padding-bottom: 4%;
    /* border: 2px solid purple; */
}

.manybox>:nth-child(4)>:nth-child(2){
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid black; */
}

.manybox>:nth-child(4)>:nth-child(2)>div{
    padding: 5%;
    display: flex;
    border: 1px solid  rgb(49,191,245);
    cursor: pointer;
    border-radius: 20px;
}

.manybox>:nth-child(4)>:nth-child(2)>div>:nth-child(1){
    margin-right: 6%;
    /* border: 2px solid green; */
}

.manybox>:nth-child(4)>:nth-child(2)>div>:nth-child(2){
    padding: 2%;
    /* border: 2px solid grey; */
}

/* <-------------------5th_Blue_Box---------------> */

.manybox>:nth-child(5){
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 20px;
    color: white;
    background-color: rgb(49,191,245);
    /* border: 2px solid blue; */
   
}

.Unlimited>:nth-child(1){
font-size: 50px;
}

.Unlimited>:nth-child(2){
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 1%;   
}

.UnlimitedButton{
    width: 13%;
    margin: auto;
    padding:1%;
    /* border: 2px solid black; */
}
